home/.config/quickshell/session_img.png
home/.face
home/.cache/
home/.config/gh/
home/.config/mozilla/
home/.config/obs-studio/logs/
home/.config/obs-studio/plugin_config/
home/.config/obs-studio/basic/scenes/*.bak
home/.local/state/
home/Pictures/
home/Videos/
home/Wallpapers/
**/__pycache__/
**/*.pyc
**/.git/
*.bak
*.tmp
.DS_Store
